<% content_for :application_header do %>
  <%= stylesheet_link_tag 'report' -%>

  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700'
        rel='stylesheet' type='text/css'>
<% end %>

<% content_for :application_body do %>
<div id="wrapper">
  <%= form_tag ad_report_index_path do |f| %>
    <% @report_attributes.each do |section, headings|%>

      <h1><%= section -%></h1>
      <% headings.each do |heading, attributes| %>

        <h3><%= heading -%></h3>
        <% attributes.each do |attribute, severity| %>

          <label class="<%= severity -%>"><%= attribute -%></label>
          <div class="btn pass">
            <label>Pass</label>
            <%= radio_button "report", attribute, "pass",
                             {:class => "pass"} -%>
          </div><div class="btn fail">
            <label>Fail</label>
            <%= radio_button "report", attribute, 'fail',
                             {:class => "fail"} -%>
          </div>

        <% end %>

      <% end %>

    <% end %>

    <%= submit_tag 'Create' -%>
  <% end %>
</div>
<% end %>