<html>
<head>
  <title>Epikcar</title>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <%= stylesheet_link_tag 'advert' -%>
  <%= stylesheet_link_tag 'animate' -%>
  <%= javascript_include_tag 'jquery' -%>
  <%= javascript_include_tag 'bootstrap' -%>

  <script src="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.min.js"
          type="text/javascript"></script>

  <link href="//cdn.jsdelivr.net/jquery.slick/1.4.1/slick.css"
        rel="stylesheet" type="text/css"/>
  <link href='//fonts.googleapis.com/css?family=Montserrat'
        rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700'
        rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
        rel="stylesheet" >
</head>

<body>
  <div id="header">
    <div class="header-container">
      <div class="header">
        EPIKCAR
      </div>
    </div>
  </div>
  <div id="main">
    <div class="carousel-container">
      <div class="overlay-container">
        <div class="overlay-center">
          <div id='title' class="title"><%= @ad.name.upcase -%></div>
          <div id='price' class="title">$<%= @ad.price -%></div>
        </div>
      </div>
      <!-- TODO: Find a way to load slick gracefully -->
      <div class="slick">
        <% @ad.images.each do |image| %>
          <%= image_tag image.image_url -%>
        <% end %>
      </div>
    </div>
    <div class="section report">
      <div class="center-container">
        <div class="section-header">
          Our inspection
        </div>

        <!--TODO: This should be a model -->
        <%= render "advert/components/report" -%>

        <!--TODO: This should be a model -->
        <%= render "advert/components/expert" %>
      </div>
    </div> <!--SECTION REPORT-->

    <div class="section detail">
      <div class="center-container">
        <div class="section-container">
          <div class="section-header">Description</div>
          <div class="detail-description">
            <%= @ad.description -%>
          </div>
          <div class="section-header">Specs</div>
          <div class="detail-specs">
            <!-- TODO: Rails model many-to-one -->
            <ul>
              <li><div>9000 mpg</div>
              <li><div>two</div></li>
              <li><div>three</div></li>
              <li><div>four</div></li>
              <li><div>five</div></li>
              <li><div>six</div></li>
              <li><div>seven</div></li>
              <li><div>eight</div></li>
              <li><div>nine</div></li>
              <li><div>ten</div></li>
              <li><div>eleven</div></li>
              <li><div>twelve</div></li>
              <li><div>thirteen</div></li>
              <li><div>fourteen</div></li>
              <li><div>fifteen</div></li>
              <li><div>sixteen</div></li>
            </ul>
            <br/>
          </div>
          <div class="section-header">Options</div>
          <div class="detail-options">
            <!-- TODO: Rails model many-to-many -->
            <table>
              <tr>
                <td class="active">Leather seats</td>
                <td>Two</td>
                <td class="active">Three</td>
                <td>Four</td>
              </tr>
              <tr>
                <td>Five</td>
                <td class="active">Six</td>
                <td class="active">Seven</td>
                <td class="active">Eight</td>
              </tr>
              <tr>
                <td class="active">Nine</td>
                <td>Ten</td>
                <td>Eleven</td>
                <td>Twelve</td>
              </tr>
              <tr>
                <td class="active">Thirteen</td>
                <td class="active">Fourteen</td>
                <td>Fifteen</td>
                <td>Sixteen</td>
              </tr>
            </table>
          </div>

          <!-- TODO: This should all be models -->
          <div class="info-container">
            <div class="info-header title">
              THE SELLER
            </div>
            <div class="user-photo">
              <img src="//www.adtechnology.co.uk/images/UGM-default-user.png">
            </div>
            <div class="user-description">
              Bacon ipsum dolor amet chuck drumstick alcatra,
              shankle cupim meatloaf short ribs biltong salami
              leberkas pork. Pork prosciutto tri-tip shoulder
              venison t-bone hamburger kielbasa drumstick.
            </div>
            <div class="user-contact">
              <div class="user-contact-phone">
                <i class="fa fa-mobile"></i>
                <div class="cube">
                  <div class="show-button front">Phone</div>
                  <div class="back-button hidden">
                    <%= @ad.contact_phone -%>
                  </div>
                </div>
              </div>
              <div class="user-contact-mail">
                <i class="fa fa-envelope-o"></i>
                <div class="cube">
                  <div class="show-button">Send email</div>
                  <div class="back-button hidden">Sent!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!--SECTION DETAILS-->

    <div class="section misc">
      <div class="center-container">
        <div class="section-container">
          Work in progress
        </div>
      </div>
    </div> <!--SECTION MISC-->
  </div>
  <div id="footer">
    <div class="footer-container">
      <div class="left">
        <a href="">Discover more</a>
        <a href="">About us</a>
        <a href="">Contact</a>
        <i class="fa fa-facebook-f"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-google-plus"></i>
      </div>
      <div class="right">
        Bacon ipsum dolor amet chuck drumstick alcatra,
        shankle cupim meatloaf short ribs biltong salami
        leberkas pork. Pork prosciutto tri-tip shoulder
        venison t-bone hamburger kielbasa drumstick.
        T-bone short ribs spare ribs strip steak beef
        ribs kevin. Shank biltong pork turducken ground
        round filet mignon pig jerky kevin ham hock.
      </div>
    </div>
  </div>

  <%= yield :scripts %>
  <script>
    // Every click here should send analytic
    $(document).ready(function() {
      $('.slick').slick({
        centerMode: true,
        slidesToShow: 3,
        slidesToScroll: 3,
        autoplay: true,
        autoplaySpeed: 10000,
        variableWidth: true
      });

      $('.show-button').click(function() {
        $(this).parent().addClass('active');
      });
    });
  </script>
</body>
</html>