<!DOCTYPE html>
<html>
  <head>
    <!-- Stuff -->
    <title>Epikcar</title>
    <%= csrf_meta_tags %>


    <!-- Some library links -->
    <link href='//fonts.googleapis.com/css?family=Montserrat'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700'
          rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
          rel="stylesheet">


    <!-- Common Stylesheets -->
    <%= stylesheet_link_tag 'animate' -%>


    <!-- Common Javascript -->
    <%= javascript_include_tag 'jquery' -%>
    <%= javascript_include_tag 'analytics' -%>


    <!-- Analytics -->
  <% if params[:debug] == 'analytics' %>
    <script async src='//www.google-analytics.com/analytics_debug.js'></script>
    <script> window.ga_debug = {trace: true}; </script>
  <% else %>
    <script async src='//www.google-analytics.com/analytics.js'></script>
  <% end %>
    <script>
      window.ga=window.ga || function(){
        (ga.q=ga.q||[]).push(arguments)
      };
      ga.l=+new Date;
    </script>

    <!-- Route specific header content -->
    <%= yield :application_header -%>
  </head>

  <body>
    <!-- Route specific body content -->
    <%= yield :application_body -%>
  </body>
  <!-- Route specific footer content -->
  <%= yield :application_footer -%>
</html>

